manager:
  env:
    ssl: false
  ingress:
    enabled: true
    ingressClassName: pomerium
    host: NEUVECTOR.DOMAIN
    tls: true
    annotations:
      ingress.pomerium.io/allow_any_authenticated_user: 'true'
      ingress.pomerium.io/pass_identity_headers: 'true'
      ingress.pomerium.io/tls_skip_verify: 'true'
  svc:
    type: ClusterIP
controller:
  replicas: 1
cve:
  replicas: 1
k3s:
  enabled: true
  runtimePath: /run/k3s/containerd/containerd.sock